@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

$main-color: #BEA67C;
$white-color: #FFF;
$black-color: #000;

$main-font: 'Source Sans Pro Black', sans-serif;
$body-font: 'Source Sans Pro Regular', sans-serif;
$body-italic: 'Source Sans Pro Semibold', sans-serif;
$light-font: 'Source Sans Pro Semibold Light', sans-serif;

$base-size: 12px;